@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;
    overflow-x: hidden;
}
section::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b,#e91e63);
    border-radius: 50%;
    transform: translate(-420px,-180px);
}
section::after
{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3,#83d8ff);
    border-radius: 50%;
    transform: translate(400px,180px);
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
}
.container:before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    transform: skewX(-15deg);
    pointer-events: none;
}
h2
{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}
.container .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.container .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
    transition: 0.5s;
}
.container .row100 .inputBox
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.container .row100 .inputBox input,
.container .row100 .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.container .row100 .inputBox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text
{
    top: -35px;
    left: -10px;
}
.container .row100 .inputBox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line
{
    height: 100%;
}

.container .row100 .inputBox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.container .row100 .inputBox textarea
{
    height: 100%;
    resize: none;
}
.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line
{
    height: 100%;
}
.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text
{
    top: -35px;
    left: -10px;
}
input[type="submit"]
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

@media (max-width: 767px)
{
    section::before
    {
        transform: translate(-200px,-180px);
    }
    section::after
    {
        transform: translate(220px,180px);
    }
    .container
    {
        padding: 20px;
    }
    h2
    {
        font-size: 28px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*,
*::before,
*::after {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-family: "Poppins", sans-serif;
}

::selection {
background-color: #0b372dbb;
}

.logo {
width: 100px;
}

header {
position: absolute;
z-index: 9999;
width: 100%;
padding: 0.9rem 0;
top: 0;
left: 0;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
max-width: 1400px;
margin: 0 auto;
padding: 0 2rem;
display: flex;
justify-content: space-between;
align-items: center;
display: flex;
}

header ul {
list-style: none;
align-items: center;
display: flex;
}

header ul a {
text-decoration: none;
color: #fff;
padding: 0 1.5rem;
text-transform: uppercase;
font-weight: 300;
font-size: 0.83rem;
}

.search a {
font-size: 1.05rem;
padding: 0 3rem;
}

.hamburger {
padding-left: 1.5rem;
}

.hamburger a {
padding: 0;
width: 37px;
height: 37px;
display: flex;
border-radius: 50%;
background-color: rgba(115, 115, 115, 0.7);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
justify-content: center;
align-items: center;
}

.hamburger .bar {
position: relative;
width: 52%;
height: 1.3px;
background-color: #fff;
border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
content: "";
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 60%;
height: 100%;
background-color: inherit;
border-radius: 2px;
}

.hamburger .bar::before {
top: -4.5px;
}

.hamburger .bar::after {
top: 4.5px;
}

header {
	text-align: center;
}

h1 {
	color: white;
}